body {
    font-family: 'Noto Serif Display', serif;
    background-color: #fff2cc
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-style: italic;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#All {
    color: #b30000
}

#Bos {
    color: #0052cc
}

#Cam {
    color: #b36b00
}

#JP {
    color: #206020
}

#Som {
    color: #990099
}

#Other {
    color: #333333
}