body {
    background-color: #fff2cc
}

h1 {
    text-align: center;
}

#All {
    color: #b30000
}

#Bos {
    color: #0052cc
}

#Cam {
    color: #b36b00
}

#JP {
    color: #206020
}

#Som {
    color: #990099
}

#Other {
    color: #333333
}