body {

    font-family: 'Noto Serif Display', serif;
    background-color: #fff2cc
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-style: italic;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin-left: -3em;
}

#All {
    color: #b30000
}

#Bos {
    color: #0052cc
}

#Cam {
    color: #b36b00
}

#JP {
    color: #206020
}

#Som {
    color: #990099
}

#Other {
    color: #333333
}

#venues {
    padding-left: 7vw;
    padding-right: 7vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3vw;
}

.venue_type {
    text-align: center;
    /*width: 42vw; */
}

#location {
    align-items: center;
    display: flex;
    gap: 10px;
}

.locale {
    text-align: center;
    flex-grow: 1;
}